header {
  height: 30px;
  display: flex;
  flex-direction: row;
  background-color: var(--dark-blue);
}

header > div {
  width: calc(100% - 90px);
}

header > span {
  width: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

header > span:hover {
  background-color: #dadada;
}

#closeWin:hover {
  background: var(--red);
}

header > span > img {
  filter: invert(100);
  height: 24px;
  width: 24px;
}
